{% extends 'base.html' %}
{% load static %}

{% block title %}{% if object %}Edit Category{% else %}Create Category{% endif %}{% endblock title %}

{% block content %}
<div class="form-container">
    <h1>{% if object %}Edit Category{% else %}Create New Category{% endif %}</h1>
    
    <form method="post" class="category-form">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                {% if object %}Update Category{% else %}Create Category{% endif %}
            </button>
            <a href="{% url 'category-list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
